<div class="container vh-100 d-flex flex-column justify-content-center align-items-center">
    <div class="card border-light mb-3" *ngIf="!loading">
        <div class="card-header">SignUp</div>
        <div class="card-body">
            <form #fReg="ngForm" (ngSubmit)="onRegister(fReg)" >
                <div class="form-group d-flex flex-column align-items-center">
                    <img src="assets/img/login.png"
                        class="img-fluid profile-image-pic img-thumbnail rounded-circle my-3" width="200px"
                        alt="profile">
                    <div class="form-floating mb-3">
                        <input type="text" name="name" class="form-control" id="floatingInputName"
                            placeholder="Kelvin guerrero" [(ngModel)]="name" required>
                        <label for="floatingInputName"><i class="fa-solid fa-user"></i> Nombre</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="email" name="email" class="form-control" id="floatingInput"
                            placeholder="name@example.com" [(ngModel)]="email" required>
                        <label for="floatingInput"><i class="fa-solid fa-envelope"></i> Email</label>
                    </div>
                    <div class="form-floating">
                        <input type="password" name="password" class="form-control" id="floatingPassword"
                            placeholder="password" [(ngModel)]="password" required>
                        <label for="floatingPassword"><i class="fa-solid fa-lock"></i> Password</label>
                    </div>
                    <div class="d-grid gap-2 mt-2">
                        <button class="btn btn-lg btn-primary" type="submit">Registrarse</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="spinner-border" role="status" *ngIf="loading">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>