<header>
    <!--Navbar-->
    <nav class="navbar navbar-expand-sm navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" routerLink="/home">
                <img src="assets/img/lupa_00.png" alt="logo allFind" width="50">
                AllFind
            </a>
            <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavId">
                <ul class="navbar-nav me-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/equipos" routerLinkActive="active">Equipos</a>
                    </li>
                </ul>
                <ul class="navbar-nav ms-auto mt-2 mt-lg-0" id="enlacesNavbar">
                    <ng-container *ngIf="!authService.loggedIn() else logout">
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/auth/login" routerLinkActive="active">Iniciar Sesion</a>
                        </li>
                    </ng-container>
                    <ng-template #logout>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="" routerLinkActive="active"></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="" (click)="authService.logout()">Cerrar Sesion</a>
                        </li>
                    </ng-template>
                </ul>
            </div>
        </div>
    </nav>
</header>