<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/home" routerLink="active">
        <img src="/assets/img/libreria-digital.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
        DigitalDreams
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/home" routerLinkActive="active">Dashboard</a>
          </li>
        </ul>
        <ul class="navbar-nav">
          <ng-container *ngIf="!authService.loggedIn() else logout">
            <li class="nav-item">
                <a class="nav-link" routerLink="/auth/login" routerLinkActive="active">SignIn</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/auth/registro" routerLinkActive="active">SignUp</a>
          </li>
        </ng-container>
        <ng-template #logout>
            <li class="nav-item">
                <a class="nav-link" routerLink="" routerLinkActive="active"></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="" (click)="authService.logout()">Logout</a>
            </li>
        </ng-template>
        </ul>
      </div>
    </div>
  </nav>