<div class="container">
    <div class="row my-3">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="/home" routerLinkActive="active">Home</a></li>
            <li class="breadcrumb-item">
                <a routerLink="/equipos" routerLinkActive="active">Equipos</a>
                <ol class="breadcrum">
                    <li class="breadcrum-item">
                        <a routerLink="/equipos/{{ equipo._id }}">{{ equipo._id }}</a>
                    </li>
                </ol>
            </li>
        </ol>
        <div class="col-md-6 mb-3 mb-md-0">
            <img src="assets/img/{{ equipo.foto }}" class="img-fluid rounded" alt="Foto del equipo seleccionado">
        </div>
        <div class="col-md-6 d-flex flex-column flex-md-row">
            <div class="card border-light">
                <div class="card-header">Editando: {{ equipo._id }}</div>
                <div class="card-body">
                    <form #formEdit="ngForm" (ngSubmit)="editarEquipo(formEdit.value)">
                        <div class="form-group d-flex flex-column align-items-center">
                            <div class="form-floating mb-3">
                                <input type="text" name="modelo" class="form-control" id="floatingInputModelo"
                                    placeholder="Acer aspire" [(ngModel)]="datosPeli.modelo" required>
                                <label for="floatingInputModelo">Modelo</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="number" name="precio" class="form-control" id="floatingInputPrecio"
                                    placeholder="999" [(ngModel)]="datosPeli.precio" required>
                                <label for="floatingInputPrecio">Precio</label>
                            </div>
                            <div class="form-floating mb-3">
                                <input type="text" name="cpu" class="form-control" id="floatingInputCpu"
                                    placeholder="password" [(ngModel)]="datosPeli.cpu" required>
                                <label for="floatingInputCpu">CPU</label>
                            </div>
                            <div class="form-floating">
                                <input type="number" name="ram" class="form-control" id="floatingInputRam"
                                    placeholder="16" [(ngModel)]="datosPeli.ram" required>
                                <label for="floatingInputRam">RAM</label>
                            </div>
                            <div class="d-grid gap-2 mt-2">
                                <button class="btn btn-lg btn-success" type="submit">Editar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>