<div class="container">
  <div class="row my-3">
    <div class="col-12">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/home" routerLinkActive="active">Home</a></li>
        <li class="breadcrumb-item"><a routerLink="/equipos" routerLinkActive="active">Equipos</a></li>
        <li class="breadcrumb-item"> <a routerLink="/usuarios" routerLinkActive="active">Usuarios</a></li>
      </ol>
      <div class="card text-white bg-dark mb-3">
        <div class="card-header">Dasboard</div>
        <div class="card-body d-flex flex-column flex-md-row justify-content-evenly align-items-sm-center">

          <div class="card card-gestion mb-3 mb-md-0" style="width: 18rem;">
            <img src="assets/img/imagen-1.jpg" class="card-img-top" alt="imagen de la card equipos">
            <div class="card-body">
              <h5 class="card-title">Gestion equipos 🖥️</h5>
              <p class="card-text">Acceso al panel de administracion de equipos.</p>
              <a routerLink="/equipos" class="btn btn-primary">Entrar</a>
            </div>
          </div>

          <div class="card card-gestion " style="width: 18rem;">
            <img src="assets/img/imagen-5.jpg" class="card-img-top" alt="imagen de la card equipos">
            <div class="card-body">
              <h5 class="card-title">Gestion usuarios 🙎</h5>
              <p class="card-text">Acceso al panel de administracion de usuarios.</p>
              <a routerLink="/usuarios" class="btn btn-primary">Entrar</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>