<div class="container">
    <div class="row my-3">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h1>Formulario</h1>
                    <form #formUsuario="ngForm" (ngSubmit)="addUsuario(formUsuario)">
                        <input type="hidden" name="_id" [(ngModel)]="userService.usuarioSeleccionado._id">
                        <div class="form-group mb-3">
                            <input type="text" name="name" id="inputName" class="form-control" placeholder="Introduce tu nombre completo" [(ngModel)]="userService.usuarioSeleccionado.name" required>
                        </div>
                        <div class="form-group mb-3">
                            <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Introduce tu email" [(ngModel)]="userService.usuarioSeleccionado.email" required>
                        </div>
                        <div class="form-group mb-3">
                            <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Introduzca una password" [(ngModel)]="userService.usuarioSeleccionado.password" required>
                        </div>
                        <button type="submit" class="btn btn-success me-2">Guardar</button>
                        <button type="reset" class="btn btn-primary">Reset</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <table class="table table-stripped">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Email</th>
                        <th>Creado en</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let usuario of userService.usuarios">
                        <td>{{ usuario.name }}</td>
                        <td>{{ usuario.email }}</td>
                        <td>{{ usuario.createdAt }}</td>
                        <td>
                            <button type="button" (click)="editarUser(usuario)" class="btn btn-sm btn-light me-2"><i class="fa-solid fa-pen-to-square"></i></button>
                            <button type="button" (click)="eliminarUser(usuario._id)" class="btn btn-sm btn-warning"><i class="fa-solid fa-trash-can"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
